.planet-section {
  display: grid;
  grid-template-areas:
    "planet-links"
    "planet-image"
    "planet-details"
    "planet-stats";

  @media (min-width: 768px) {
    grid-template-areas:
      "planet-image planet-image"
      "planet-image planet-image"
      "planet-details planet-links"
      "planet-stats planet-stats";

    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1440px) {
    grid-template-areas:
      "planet-image planet-image planet-image planet-details"
      "planet-image planet-image planet-image planet-details"
      "planet-image planet-image planet-image planet-links"
      "planet-stats planet-stats planet-stats planet-stats";

    grid-template-columns: repeat(2, 1fr) 0.65fr 1.35fr;
  }

  @media (min-width: 1440px) {
    max-width: 75%;
  }
}

.planet-section__image {
  grid-area: planet-image;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 1440px) {
    height: 100%;
  }
}

.planet-section__details {
  grid-area: planet-details;

  min-height: 235px;
}

.planet-section__stats {
  grid-area: planet-stats;
  .stats-stat {
    display: flex;

    h3 {
      font-family: Spartan, sans-serif;
    }
    p {
      font-family: Antonio, sans-serif;
      font-size: 2rem;
      font-weight: 600;
    }

    @media (min-width: 1025px) {
      h3 {
        font-size: 1rem;
      }
      p {
        font-size: 2.5rem;
      }
    }
  }
}
